# Файл с секретами и настройками
.env

# Виртуальное окружение
venv/
env/

# База данных разработки
db.sqlite3
*.sqlite3

# Папки для статических и медиа-файлов, которые генерируются на сервере
staticfiles/
media/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Файлы IDE и редакторов
.idea/
.vscode/

# Зависимости Node.js
node_modules/

# Логи и временные файлы
*.log
*.pot
*.swo
*.swp