{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1 class="text-3xl font-bold text-gray-800 mb-6">{{ title }}</h1>
    <div class="bg-white shadow-md rounded-lg p-8">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-8 flex justify-end">
                <a href="{% url 'student_list' %}" class="bg-gray-200 text-gray-800 px-4 py-2 rounded-lg mr-4">Отмена</a>
                <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-lg">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}